<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head::headFragment"></th:block>
<body>
<th:block th:replace="fragments/header::headerFragment"></th:block>

<div class="container mt-8">
  <div class="page-inner">

    <div class="row">
      <!-- Enroll Courses Section -->
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-header bg-primary text-white text-center">
            <h5>예비 수강 신청</h5>
          </div>
          <div class="card-body">
            <table class="table table-bordered text-center">
              <thead class="thead-light">
              <tr>
                <th>강의 ID</th>
                <th>강의 이름</th>
                <th>학점</th>
                <th>상태</th>
                <th>수강 정원</th>
                <th>강의 교수</th>
                <th>수강생 ID</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="course : ${enrollCourses}">
                <td th:text="${course.courseId}">강의 ID</td>
                <td th:text="${course.courseName}">강의 이름</td>
                <td th:text="${course.credits}">학점</td>
                <td th:text="${course.status}">상태</td>
                <td th:text="${course.restNum}">수강 정원</td>
                <td th:text="${course.createdBy}">강의 교수</td>
                <td th:text="${course.studentId}">수강생 ID</td>

              </tr>
              </tbody>
            </table>
            <!--<form th:action="@{/student/enroll/cart/confirm}" method="post">
              <button class="btn btn-outline-primary">신청하기</button>
            </form>-->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<th:block th:replace="fragments/footer::footerFragment"></th:block>
</body>
</html>