<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/head::headFragment"></th:block>
<body>
<th:block th:replace="fragments/header::headerFragment"></th:block>
<div class="container">
  <div class="page-inner">
    <div layout:fragment="content" class="container my-4">
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
      <p th:text="${successMessage}"></p>
    </div>

    <div th:if="${errorMessage}" class="alert alert-danger text-center">
      <p th:text="${errorMessage}"></p>
    </div>

    <h1 class="fw-bold mb-4">
      <a th:href="@{/student/courses/list}" class="text-decoration-none text-dark"> 강의 목록</a>
    </h1>
    <form th:action="@{/student/courses/list}" method="get" class="row g-3">
      <div class="col-auto">
        <select class="form-select" id="searchType" name="searchType" required>
          <option th:selected="${searchType == 'id'}" value="id">강의 ID</option>
          <option th:selected="${searchType == 'name'}" value="name">강의명</option>
          <option th:selected="${searchType == 'pId'}" value="pId">교수 아이디</option>
        </select>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" id="searchForm" name="searchQuery" th:value="${searchQuery}"
               placeholder="검색어 입력"/>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-label-primary custom-btn">검색</button>
      </div>

      <!-- 오른쪽 정렬 -->
      <div class="col-auto ms-auto">
        <a th:href="@{/student/courses/subList}" class="btn btn-label-info"><b>수강 신청 내역 조회</b></a>
      </div>
    </form>
    <br>

    <!-- Courses Table -->

      <!--<div class="table-responsive">-->
        <table class="table table-hover table-bordered text-center">
          <thead class="table-dark">
          <tr>
            <th>강의 ID</th>
            <th>개설 학과</th>
            <th>교수 번호</th>
            <th>교수명</th>
            <th>강의명</th>
            <th>학점</th>
            <th>잔여 / 정원</th>
            <!--<th>잔여 인원</th>-->
            <th>수강 신청</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="course : ${page.content}">
            <td th:text="C + ${course.cId}"></td>
            <td th:text="${course.pDept.koreanName}"></td>
            <td th:text="${course.pId}"></td>
            <td th:text="${course.pName}"></td>
            <td th:text="${course.cName}"></td>
            <td th:text="${course.credits}"></td>
            <td th:text="${course.restNum}+' / '+${course.maxCapacity}"></td>
            <!--<td th:text="${course.restNum}"></td>-->
            <td>
              <div style="display: inline-flex; gap: 15px; align-items: center;">
                <form th:action="@{/student/courses/sub}" method="post">
                  <input type="hidden" name="courseId" th:value="${course.cId}"/>
                  <button type="submit" class="btn btn-sm btn-label-primary"
                          onclick="return confirm('해당 강의를 신청하시겠습니까?')">
                    신청하기
                  </button>
                </form>

                <!-- 예비수강 신청 버튼 -->
                <form th:action="@{/student/enroll/add}" method="post" style="display: inline;">
                  <input type="hidden" name="cId" th:value="${course.cId}"/>
                  <input type="hidden" name="sId" th:value="${sId}"/> <!-- 학생 ID 전달 -->
                  <button type="submit" class="btn btn-sm btn-label-info"
                          onclick="return confirm('해당 강의를 장바구니에 담으시겠습니까?')">
                    예비신청
                  </button>
                </form>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div>
        <nav class="text-center">
          <ul class="pagination justify-content-center">
            <!-- 이전 버튼 -->
            <li class="page-item" th:classappend="${page.hasPrevious()} ? '' : 'disabled'">
              <a class="page-link" th:href="@{/student/courses/list(page=${page.number - 1})}"
                 tabindex="-1">이전</a>
            </li>

            <!-- 페이지 번호 버튼 -->
            <li class="page-item" th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                th:classappend="${page.number == i} ? 'active' : ''">
              <!-- 페이지 번호는 i+1로 표시, URL은 i를 사용 -->
              <a class="page-link" th:href="@{/student/courses/list(page=${i})}" th:text="${i+1}"></a>
            </li>

            <!-- 다음 버튼 -->
            <li class="page-item" th:classappend="${page.hasNext()} ? '' : 'disabled'">
              <a class="page-link" th:href="@{/student/courses/list(page=${page.number + 1})}">다음</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

<th:block th:replace="fragments/footer::footerFragment"></th:block>
</body>
</html>