<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragments/head::headFragment"></th:block>

<body>
<th:block th:replace="fragments/header::headerFragment"></th:block>

<div class="container">
    <div class="page-inner">
        <div layout:fragment="content" class="container my-3">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                <div>
                    <h1 class="my-4 notice-header">
                        <a th:href="@{/student/courses/list}" class="text-decoration-none text-dark">강의 목록</a>
                    </h1>
                </div>
            </div>

            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                <p th:text="${successMessage}"></p>
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>

            <form th:action="@{/student/courses/list}" method="get" class="mb-3">
                <div class="row">
                    <div class="col-md-2">
                        <select class="form-select" id="searchType" name="searchType" required>
                            <option th:selected="${searchType == 'id'}" value="id">강의 ID</option>
                            <option th:selected="${searchType == 'name'}" value="name">강의명</option>
                            <option th:selected="${searchType == 'pId'}" value="pId">교수번호</option>
                            <option th:selected="${searchType == 'pName'}" value="pName">교수명</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="searchForm" name="searchQuery"
                               th:value="${searchQuery}"
                               placeholder="검색어 입력"/>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-label-primary custom-btn">검색</button>
                    </div>

                    <!-- 오른쪽 정렬 -->
                    <div class="col-auto ms-auto">
                        <a th:href="@{/student/courses/subList}" class="btn btn-label-info"><b>수강 신청 내역 조회</b></a>
                    </div>

                </div>
            </form>

            <!-- Courses Table -->

            <table class="table table-bordered table-hover text-center">
                <thead class="table-dark">
                <tr>
                    <th>강의 ID</th>
                    <th>개설 학과</th>
                    <th>교수번호</th>
                    <th>교수명</th>
                    <th>강의명</th>
                    <th>학점</th>
                    <th>잔여 / 정원</th>
                    <th>수강 신청</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="course : ${page.content}">
                    <td th:text="C + ${course.cId}"></td>
                    <td th:text="${course.pDept.koreanName}"></td>
                    <td th:text="${course.pId}"></td>
                    <td th:text="${course.pName}"></td>
                    <td th:text="${course.cName}"></td>
                    <td th:text="${course.credits}"></td>
                    <td th:text="${course.restNum}+' / '+${course.maxCapacity}"></td>
                    <td>
                        <form th:action="@{/student/courses/sub}" method="post" style="display: inline;">
                            <input type="hidden" name="courseId" th:value="${course.cId}"/>
                            <button type="submit" class="btn btn-sm btn-label-primary"
                                    onclick="return confirm('해당 강의를 신청하시겠습니까?')">
                                신청하기
                            </button>
                        </form>

                        <form th:action="@{/student/enroll/add}" method="post" style="display: inline;">
                            <input type="hidden" name="cId" th:value="${course.cId}"/>
                            <input type="hidden" name="sId" th:value="${sId}"/>
                            <button type="submit" class="btn btn-sm btn-label-info"
                                    onclick="return confirm('해당 강의를 장바구니에 담으시겠습니까?')">
                                예비신청
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <!-- 페이징 -->
            <nav th:if="${page.totalPages > 0}">
                <ul class="pagination justify-content-center">
                    <!-- 이전 버튼 -->
                    <li class="page-item" th:classappend="${startPage > 1} ? '' : 'disabled'">
                        <a class="page-link"
                           th:href="@{/student/courses/list(page=${startPage - 1}, searchType=${searchType}, searchQuery=${searchQuery})}">
                            이전
                        </a>
                    </li>

                    <!-- 페이지 번호 -->
                    <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}"
                        th:classappend="${currentPage == i} ? 'active' : ''">
                        <a class="page-link"
                           th:href="@{/student/courses/list(page=${i}, searchType=${searchType}, searchQuery=${searchQuery})}"
                           th:text="${i}"></a>
                    </li>

                    <!-- 다음 버튼 -->
                    <li class="page-item" th:classappend="${endPage < page.totalPages} ? '' : 'disabled'">
                        <a class="page-link"
                           th:href="@{/student/courses/list(page=${endPage + 1}, searchType=${searchType}, searchQuery=${searchQuery})}">
                            다음
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- 페이징 숨기기 -->
            <div th:if="${page.totalPages == 0}" class="text-center mt-4">
                <p>페이지가 없습니다.</p>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer::footerFragment"></th:block>
</body>
</html>


<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/head::headFragment"></th:block>
<body>
<th:block th:replace="fragments/header::headerFragment"></th:block>

<div class="container">
    <div class="page-inner">
        <div layout:fragment="content" class="container my-3">

            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                <div>
                    <h1 class="my-4 notice-header">
                        <a th:href="@{/student/courses/list}" class="text-decoration-none text-dark">강의 리스트</a>
                    </h1>
                </div>
            </div>

            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                <p th:text="${successMessage}"></p>
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>

            <form th:action="@{/student/courses/list}" method="get" class="mb-3">
                <div class="row">
                    <div class="col-md-2">
                        <select class="form-select" id="searchType" name="searchType" required>
                            <option th:selected="${searchType == 'id'}" value="id">강의 ID</option>
                            <option th:selected="${searchType == 'name'}" value="name">강의명</option>
                            <option th:selected="${searchType == 'pId'}" value="pId">교수번호</option>
                            <option th:selected="${searchType == 'pName'}" value="pName">교수명</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="searchForm" name="searchQuery"
                               th:value="${searchQuery}"
                               placeholder="검색어 입력"/>
                    </div>
                    <div class=col-md-1">
                        <button type="submit" class="btn btn-label-primary custom-btn">검색</button>
                    </div>

                    <div class="col-md-4"></div>
                    <div class="col-md-2 d-flex justify-content-end">
                        <a th:href="@{/student/courses/subList}" class="btn btn-label-info"><b>수강 신청 내역 조회</b></a>
                    </div>
                </div>
            </form>

            &lt;!&ndash; Courses Table &ndash;&gt;

            &lt;!&ndash;<div class="table-responsive">&ndash;&gt;
            <table class="table table-hover table-bordered text-center">
                <thead class="table-dark">
                <tr>
                    <th>강의 ID</th>
                    <th>개설 학과</th>
                    <th>교수번호</th>
                    <th>교수명</th>
                    <th>강의명</th>
                    <th>학점</th>
                    <th>잔여 / 정원</th>
                    &lt;!&ndash;<th>잔여 인원</th>&ndash;&gt;
                    <th>수강 신청</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${page.content}">
                    <td th:text="C + ${course.cId}"></td>
                    <td th:text="${course.pDept.koreanName}"></td>
                    <td th:text="${course.pId}"></td>
                    <td th:text="${course.pName}"></td>
                    <td th:text="${course.cName}"></td>
                    <td th:text="${course.credits}"></td>
                    <td th:text="${course.restNum}+' / '+${course.maxCapacity}"></td>
                    &lt;!&ndash;<td th:text="${course.restNum}"></td>&ndash;&gt;
                    <td>
                        <div style="display: inline-flex; gap: 15px; align-items: center;">
                            <form th:action="@{/student/courses/sub}" method="post">
                                <input type="hidden" name="courseId" th:value="${course.cId}"/>
                                <button type="submit" class="btn btn-sm btn-label-primary"
                                        onclick="return confirm('해당 강의를 신청하시겠습니까?')">
                                    신청하기
                                </button>
                            </form>

                            &lt;!&ndash; 예비수강 신청 버튼 &ndash;&gt;
                            <form th:action="@{/student/enroll/add}" method="post" style="display: inline;">
                                <input type="hidden" name="cId" th:value="${course.cId}"/>
                                <input type="hidden" name="sId" th:value="${sId}"/> &lt;!&ndash; 학생 ID 전달 &ndash;&gt;
                                <button type="submit" class="btn btn-sm btn-label-info"
                                        onclick="return confirm('해당 강의를 장바구니에 담으시겠습니까?')">
                                    예비신청
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <nav th:if="${page.totalPages > 0}">
                <ul class="pagination justify-content-center">
                    &lt;!&ndash; 이전 버튼 &ndash;&gt;
                    <li class="page-item" th:classappend="${startPage > 1} ? '' : 'disabled'">
                        <a class="page-link"
                           th:href="@{/student/courses/list(page=${startPage - 1}, searchType=${searchType}, searchQuery=${searchQuery})}">
                            이전
                        </a>
                    </li>

                    &lt;!&ndash; 페이지 번호 버튼 &ndash;&gt;
                    <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}"
                        th:classappend="${currentPage == i} ? 'active' : ''">
                        <a class="page-link"
                           th:href="@{/student/courses/list(page=${i}, searchType=${searchType}, searchQuery=${searchQuery})}"
                           th:text="${i}"></a>
                    </li>

                    &lt;!&ndash; 다음 버튼 &ndash;&gt;
                    <li class="page-item" th:classappend="${endPage < page.totalPages} ? '' : 'disabled'">
                        <a class="page-link"
                           th:href="@{/student/courses/list(page=${endPage + 1}, searchType=${searchType}, searchQuery=${searchQuery})}">
                            다음
                        </a>
                    </li>
                </ul>
            </nav>

            &lt;!&ndash; 페이징 숨기기 &ndash;&gt;
            <div th:if="${page.totalPages == 0}" class="text-center mt-4">
                <p>페이지가 없습니다.</p>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer::footerFragment"></th:block>
</body>
</html>-->
