<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>학생 상세정보</title>
</head>
<body>
<h1>학생 상세정보</h1>
<div th:if="${error != null}" style="color: red;">
  <p th:text="${error}"></p>
</div>
<form th:action="@{'/admin/students/' + ${student.sId} + '/edit'}" method="post">
  <input type="hidden" name="page" th:value="${page != null ? page : 0}">
  <input type="hidden" name="searchType" th:value="${searchType != null ? searchType : ''}">
  <input type="hidden" name="keyword" th:value="${keyword != null ? keyword : ''}">
  <label>학번: </label><input type="text" name="sId" th:value="${student.sId}" readonly><br>
  <label>이름: </label><input type="text" name="sName" th:value="${student.sName}" required><br>
  <label>비밀번호: </label><input type="text" name="sPw" th:value="${student.sPw}" required><br>
  <label>전화번호: </label><input type="text" name="sTel" th:value="${student.sTel}" required><br>
  <label>주소: </label><input type="text" name="sAdd" th:value="${student.sAdd}" required><br>
  <label>생년월일: </label><input type="date" name="sBirth" th:value="${student.sBirth}" required><br>
  <label>이메일: </label><input type="email" name="sEmail" th:value="${student.sEmail}" required><br>
  <label>학년: </label>
  <select name="grade">
    <option th:each="i : ${#numbers.sequence(1, 4)}"
            th:value="${i}"
            th:text="${i}"
            th:selected="${i == student.grade}">
    </option>
  </select>
  <br>
  <label>성별: </label>
  <select name="sGen">
    <option th:each="gender : ${T(com.project.lms.constant.Gen).values()}"
            th:value="${gender.name()}"
            th:text="${gender}"
            th:selected="${gender.name() == (student.sGen != null ? student.sGen.name() : '')}">Gender</option>
  </select>
  <br>
  <label>학부: </label>
  <select name="sDept">
    <option th:each="department : ${T(com.project.lms.constant.Dept).values()}"
            th:value="${department.name()}"
            th:text="${department}"
            th:selected="${department.name() == (student.sDept != null ? student.sDept.name() : '')}">Dept</option>
  </select>
  <br>

  <label>ROLE: </label><input type="text" name="role" th:value="${student.role}" readonly><br>

  <button type="submit">수정</button>
</form>
<form th:action="@{'/admin/students/' + ${student.sId} + '/delete'}" method="post">
  <input type="hidden" name="page" th:value="${page != null ? page : 0}">
  <input type="hidden" name="searchType" th:value="${searchType != null ? searchType : ''}">
  <input type="hidden" name="keyword" th:value="${keyword != null ? keyword : ''}">
  <button type="submit">삭제</button>
</form>
<a th:href="@{/admin/students}">돌아가기</a>
</body>

</html>
