<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/head::headFragment"></th:block>

<body>
<th:block th:replace="fragments/header::headerFragment"></th:block>

<div class="container">
  <div class="page-inner">
    <div layout:fragment="content" class="container my-3">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
      <div>
        <h1 class="my-4 notice-header">
          <a th:href="@{/admin/students}" class="text-decoration-none text-dark">학생 리스트</a>
        </h1>
      </div>
    </div>

    <div th:if="${errorMessage != null}" class="alert alert-danger">
      <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/admin/students}" method="get" class="mb-3">
      <div class="row">
        <div class="col-md-1">
          <select name="searchType" id="searchType" class="form-select">
            <option value="id" th:selected="${searchType == 'id'}">ID</option>
            <option value="name" th:selected="${searchType == 'name'}">이름</option>
          </select>
        </div>
        <div class="col-md-2">
          <input type="text" name="keyword" id="searchForm" placeholder="검색어 입력" th:value="${keyword}" class="form-control">
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-label-primary custom-btn">검색</button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2 d-flex justify-content-end">
          <a th:href="@{/admin/students/create}" class="btn btn-label-primary">학생 추가</a>
        </div>
      </div>
    </form>

      <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
        <tr>
          <th>
            <a class="custom-a" th:href="@{/admin/students(sortField='sId', sortDir=${sortField == 'sId' and sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, keyword=${keyword}, isSorted=true)}"
               th:text="'학번' + (${isSorted and sortField == 'sId' ? ' ' + (sortDir == 'asc' ? '▼' : '▲') : ''})">
            </a>
          </th>
          <th>
            <a class="custom-a" th:href="@{/admin/students(sortField='sName', sortDir=${sortField == 'sName' and sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, keyword=${keyword}, isSorted=true)}"
               th:text="'이름' + (${isSorted and sortField == 'sName' ? ' ' + (sortDir == 'asc' ? '▼' : '▲') : ''})">
            </a>
          </th>
          <th>
            <a class="custom-a" th:href="@{/admin/students(sortField='sDept', sortDir=${sortField == 'sDept' and sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, keyword=${keyword}, isSorted=true)}"
               th:text="'학부' + (${isSorted and sortField == 'sDept' ? ' ' + (sortDir == 'asc' ? '▼' : '▲') : ''})">
            </a>
          </th>
          <th>
            <a class="custom-a" th:href="@{/admin/students(sortField='sEmail', sortDir=${sortField == 'sEmail' and sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, keyword=${keyword}, isSorted=true)}"
               th:text="'이메일' + (${isSorted and sortField == 'sEmail' ? ' ' + (sortDir == 'asc' ? '▼' : '▲') : ''})">
            </a>
          </th>
          <th>
            <a class="custom-a" th:href="@{/admin/students(sortField='grade', sortDir=${sortField == 'grade' and sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, keyword=${keyword}, isSorted=true)}"
               th:text="'학년' + (${isSorted and sortField == 'grade' ? ' ' + (sortDir == 'asc' ? '▼' : '▲') : ''})">
            </a>
          </th>
          <th>상세정보</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students.content}">
          <td th:text="${student.sId}"></td>
          <td th:text="${student.sName}"></td>
          <td th:text="${student.sDept.koreanName}"></td>
          <td th:text="${student.sEmail}"></td>
          <td th:text="${student.grade}"></td>
          <td>
            <a th:href="@{'/admin/students/' + ${student.sId} + '?page=' + ${currentPage} + '&searchType=' + ${searchType} + '&keyword=' + ${keyword} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&isSorted=' + ${isSorted}}"
               class="btn btn-label-primary custom-btn">정보</a>
          </td>
        </tr>
        </tbody>
      </table>
      <!-- 검색 결과 없음 메시지 -->
      <div th:if="${totalPages == 0}" class="alert alert-info text-center">
        검색 결과가 없습니다.
      </div>
    </div>

    <nav th:if="${totalPages > 0}">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${startPage > 1}">
          <a class="page-link" th:href="@{|/admin/students?page=${startPage - 2}&size=${pageSize}&searchType=${searchType}&keyword=${keyword}&sortField=${sortField}&sortDir=${sortDir}&isSorted=${isSorted}|}">이전</a>
        </li>

        <li class="page-item" th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
            th:classappend="${pageNum == currentPage} ? 'active' : ''">
          <a class="page-link" th:href="@{|/admin/students?page=${pageNum - 1}&size=${pageSize}&searchType=${searchType}&keyword=${keyword}&sortField=${sortField}&sortDir=${sortDir}&isSorted=${isSorted}|}" th:text="${pageNum}"></a>
        </li>

        <li class="page-item" th:if="${endPage < totalPages}">
          <a class="page-link" th:href="@{|/admin/students?page=${endPage}&size=${pageSize}&searchType=${searchType}&keyword=${keyword}&sortField=${sortField}&sortDir=${sortDir}&isSorted=${isSorted}|}">다음</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<th:block th:replace="fragments/footer::footerFragment"></th:block>

</body>
</html>
