<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Courses</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
    <h1>My Courses</h1>

    <!-- 등록한 강의 내역이 없을 경우 메시지 출력 -->
    <div th:if="${#lists.isEmpty(courses)}" class="alert alert-warning mt-3" role="alert">
        등록하신 강의 내역이 없습니다.
    </div>

    <div th:if="${not #lists.isEmpty(courses)}">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
            <tr>
                <th>강의 아이디</th>
                <th>강의명</th>
                <th>학점</th>
                <th>수강 정원</th>
                <th>잔여 인원</th>
                <th>수강 학생</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.cId}"></td>
                <td th:text="${course.cName}"></td>
                <td th:text="${course.credits}"></td>
                <td th:text="${course.maxCapacity}"></td>
                <td th:text="${course.restNum}"></td>
                <td>
                    <a th:href="@{/professor/courses/cId={cId}/studentList(cId=${course.cId})}"
                       class="btn btn-info btn-sm">
                        수강 학생 조회
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>