<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head::headFragment"></th:block>

<body>
<th:block th:replace="fragments/header::headerFragment"></th:block>

<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">
                    <a th:href="@{/professor/courses/studentList/{cId}}" class="text-decoration-none text-dark">내 강의
                        리스트</a>
                </h3>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center">
                <thead class="table-dark">
                <tr>
                    <th>학년</th>
                    <th>학번</th>
                    <th>이름</th>
                    <th>성별</th>
                    <th>이메일</th>
                    <th>학과</th>
                    <th>학점 입력</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.student.grade}+'학년'"></td>
                    <td th:text="${order.student.sId}"></td>
                    <td th:text="${order.student.sName}"></td>
                    <td th:text="${order.student.sGen.koreanName}"></td>
                    <td th:text="${order.student.sEmail}"></td>
                    <td th:text="${order.student.sDept.koreanName}"></td>
                    <td>
                        <form th:action="@{/professor/courses/studentList/score}" method="post">
                            <div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
                                <input type="hidden" name="oId" th:value="${order.oId}"/>
                                <input type="hidden" name="cId" th:value="${order.course.cId}"/>
                                <input type="number" name="score" class="form-control" min="0" max="100"
                                       th:value="${order.score != null ? order.score : ''}" style="width: 200px;"/>
                                <button type="submit" class="btn btn-label-primary">저장</button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <div th:if="${#lists.isEmpty(orders)}" class="text-center">
                <p>수강한 학생 정보가 없습니다.</p>
            </div>
        </div>
        <a href="/professor/courses/myCourses" class="btn btn-label-primary">내 강의로 돌아가기</a>
    </div>
</div>
<th:block th:replace="fragments/footer::footerFragment"></th:block>
</body>
</html>