<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강의 등록</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">강의 등록</h1>

    <!-- Error Message -->
    <div th:if="${errorMsg}" class="alert alert-danger" role="alert">
        <span th:text="${errorMsg}"></span>
    </div>

    <form th:action="@{/professor/courses/create}" th:object="${course}" method="post">
        <!-- 강의명 -->
        <div class="mb-3">
            <label for="cName" class="form-label">강의 이름</label>
            <input type="text" id="cName" th:field="*{cName}" class="form-control" placeholder="강의 이름을 입력하세요" required>
        </div>

        <!-- 학점 -->
        <div class="mb-3">
            <label for="credits" class="form-label">학점</label>
            <input type="number" id="credits" th:field="*{credits}" class="form-control" placeholder="학점을 입력하세요" min="1"
                   max="6" required>
        </div>

        <!-- 잔여 인원 -->
        <div class="mb-3">
            <label for="restNum" class="form-label">수강 정원</label>
            <input type="number" id="restNum" th:field="*{restNum}" class="form-control" placeholder="잔여 인원을 입력하세요"
                   min="0" required>
        </div>

        <!-- 잔여 상태 -->
        <!--<div class="mb-3">
            <label for="status" class="form-label">잔여 상태</label>
            <select id="status" th:field="*{status}" class="form-select" required>
                <option value="" disabled selected>잔여 상태를 선택하세요</option>
                <option value="AVAILABLE">Available</option>
                <option value="FULL">Full</option>
            </select>
        </div>-->

        <!-- 등록한 사람 -->
        <div class="mb-3">
            <label for="pId" class="form-label">강의 교수</label>
            <input type="text" id="pId" th:value="*{pId}" class="form-control" readonly>
        </div>

        <!-- 에러 메시지 -->
        <div th:if="${errorMsg != null}" class="error">
            <p th:text="${errorMsg}"></p>
        </div>
        <!-- 등록 버튼 -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">강의 등록</button>
            <a href="/courses" class="btn btn-secondary">취소</a>
        </div>
    </form>

    <a href="/professor/courses?page=0">목록으로 돌아가기</a>
</div>
</body>
</html>