<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
<footer class="footer bg-dark text-white text-center py-3">
  <p>© 2024 우리 대학교. All rights reserved.</p>
</footer>
</div>
<!-- End Main Panel -->
</div>

<!-- Core JS Files -->
<script src="/assets/js/core/jquery-3.7.1.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>

<!-- Kaiadmin JS -->
<script src="/assets/js/kaiadmin.min.js"></script>
</th:block>
</html>