<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/head::headFragment"></th:block>

<body>
<th:block th:replace="fragments/header::headerFragment"></th:block>

        <div class="container">
            <div class="page-inner">

                <!-- Board Section -->
                <div class="row">
                    <h1 class="text-center my-4" style="cursor: pointer;" onclick="location.href='/board/list'">학사 게시판</h1>
                    <div layout:fragment="content" class="container">
                        <h2 class="my-3 border-bottom pb-2">게시글 등록</h2>
                        <form th:action="@{/admin/board/create}" enctype="multipart/form-data" method="post"
                              th:object="${registerFormDTO}"><!--enctype="multipart/form-data-->
                            <!-- 오류 메시지 출력 -->
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="err : ${#fields.allErrors()}" th:text="${err.defaultMessage}"/>
                            </div>

                            <!-- 제목 필드 -->
                            <div class="mb-3">
                                <label for="title" class="form-label">제목</label>
                                <input type="text" id="title" th:field="*{title}" class="form-control">
                                <!-- 제목 오류 메시지 -->
                                <div th:if="${#fields.hasErrors('title')}" class="text-danger">
                                    <span th:errors="*{title}"></span>
                                </div>
                            </div>

                            <!-- 내용 필드 -->
                            <div class="mb-3">
                                <label for="content" class="form-label">내용</label>
                                <textarea id="content" th:field="*{content}" class="form-control" rows="10"></textarea>
                                <!-- 내용 오류 메시지 -->
                                <div th:if="${#fields.hasErrors('content')}" class="text-danger">
                                    <span th:errors="*{content}"></span>
                                </div>
                            </div>

                            <!-- 파일 업로드 필드 -->
                            <div class="mb-3">
                                <label for="file" class="form-label">첨부 파일</label>
                                <input type="file" name="file" class="form-control" id="file" multiple>
                            </div>

                            <input type="submit" value="저장하기" class="btn btn-outline-primary my-2">
                        </form>


                    </div>

                </div>
            </div>
        </div>

<th:block th:replace="fragments/footer::footerFragment"></th:block>
</body>
</html>