<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head::headFragment"></th:block>

<body>
<th:block th:replace="fragments/header::headerFragment"></th:block>

<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">
                    <a th:href="@{/admin/professors}" class="text-decoration-none text-dark">교수 리스트</a>
                </h3>
            </div>
        </div>

        <div th:if="${errorMessage != null}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>

        <form th:action="@{/admin/professors}" method="get" class="mb-3">
            <div class="row">
                <div class="col-md-1">
                    <select name="searchType" id="searchType" class="form-select">
                        <option value="id" th:selected="${searchType == 'id'}">ID</option>
                        <option value="name" th:selected="${searchType == 'name'}">이름</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="text" name="keyword" id="searchForm" placeholder="검색어 입력" th:value="${keyword}"
                           class="form-control">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-label-primary custom-btn">검색</button>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-2 d-flex justify-content-end">
                    <a th:href="@{/admin/professors/create}" class="btn btn-label-primary">교수 추가</a>
                </div>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center">
                <thead class="table-dark">
                <tr>
                    <th>
                        <a class="custom-a"
                           th:href="@{/admin/professors(sortField='pId', sortDir=${sortField == 'pId' and sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, keyword=${keyword}, isSorted=true)}"
                           th:text="'번호' + (${isSorted and sortField == 'pId' ? ' ' + (sortDir == 'asc' ? '▼' : '▲') : ''})">
                        </a>
                    </th>
                    <th>
                        <a class="custom-a"
                           th:href="@{/admin/professors(sortField='pName', sortDir=${sortField == 'pName' and sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, keyword=${keyword}, isSorted=true)}"
                           th:text="'이름' + (${isSorted and sortField == 'pName' ? ' ' + (sortDir == 'asc' ? '▼' : '▲') : ''})">
                        </a>
                    </th>
                    <th>
                        <a class="custom-a"
                           th:href="@{/admin/professors(sortField='pDept', sortDir=${sortField == 'pDept' and sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, keyword=${keyword}, isSorted=true)}"
                           th:text="'학부' + (${isSorted and sortField == 'pDept' ? ' ' + (sortDir == 'asc' ? '▼' : '▲') : ''})">
                        </a>
                    </th>
                    <th>
                        <a class="custom-a"
                           th:href="@{/admin/professors(sortField='pEmail', sortDir=${sortField == 'pEmail' and sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, keyword=${keyword}, isSorted=true)}"
                           th:text="'이메일' + (${isSorted and sortField == 'pEmail' ? ' ' + (sortDir == 'asc' ? '▼' : '▲') : ''})">
                        </a>
                    </th>
                    <th>
                        <a class="custom-a"
                           th:href="@{/admin/professors(sortField='year', sortDir=${sortField == 'year' and sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, keyword=${keyword}, isSorted=true)}"
                           th:text="'입사년도' + (${isSorted and sortField == 'year' ? ' ' + (sortDir == 'asc' ? '▼' : '▲') : ''})">
                        </a>
                    </th>
                    <th>상세정보</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="professor : ${professors.content}">
                    <td th:text="${professor.pId}"></td>
                    <td th:text="${professor.pName}"></td>
                    <td th:text="${professor.pDept.koreanName}"></td>
                    <td th:text="${professor.pEmail}"></td>
                    <td th:text="${professor.year}"></td>
                    <td>
                        <a th:href="@{'/admin/professors/' + ${professor.pId} + '?page=' + ${currentPage} + '&searchType=' + ${searchType} + '&keyword=' + ${keyword} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&isSorted=' + ${isSorted}}"
                           class="btn btn-label-primary custom-btn">정보</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${startPage > 1}">
                    <a class="page-link"
                       th:href="@{|/admin/professors?page=${startPage - 2}&size=${pageSize}&searchType=${searchType}&keyword=${keyword}&sortField=${sortField}&sortDir=${sortDir}&isSorted=${isSorted}|}">이전</a>
                </li>

                <li class="page-item" th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${pageNum == currentPage} ? 'active' : ''">
                    <a class="page-link"
                       th:href="@{|/admin/professors?page=${pageNum - 1}&size=${pageSize}&searchType=${searchType}&keyword=${keyword}&sortField=${sortField}&sortDir=${sortDir}&isSorted=${isSorted}|}"
                       th:text="${pageNum}"></a>
                </li>

                <li class="page-item" th:if="${endPage < totalPages}">
                    <a class="page-link"
                       th:href="@{|/admin/professors?page=${endPage}&size=${pageSize}&searchType=${searchType}&keyword=${keyword}&sortField=${sortField}&sortDir=${sortDir}&isSorted=${isSorted}|}">다음</a>
                </li>
            </ul>
        </nav>
        <!-- 검색 결과 없음 메시지 -->
        <div th:if="${totalPages == 0}" class="alert alert-info text-center">
            검색 결과가 없습니다.
        </div>
    </div>
</div>
<th:block th:replace="fragments/meal::mealFragment"></th:block>
<th:block th:replace="fragments/footer::footerFragment"></th:block>

</body>
</html>
